<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Présentation</h2>
<div class="summary">
    <p>
        Développeur, DevOps et Architecte Cloud, spécialisé dans le monde Microsoft. 
        Je suis pationné par l'inovation et les nouvelles technologies.
    </p>
    <p>
        Mon parcours professionnel m'a fait toucher à tous les sujets traités par l'IT... Architecture, Infrastructure, Développement, Délivry, Management d'équipes, Agilité.
    </p>
    <p>
        Le pragmatisme, la qualité et l'agilité sont pour moi les points clés pour la réussite d'un projet.
    </p>
</div><!--//summary-->
</section><!--//section-->