<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur .Net, DevOps, Architecte cloud</h3>
                            <div class="time">Oct 2015 - Aujourd'hui</div>
                        </div><!--//upper-row-->
                        <div class="company">Younited Credit</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Développements d'API REST : C#, Asp.Net WebApi 2, EF6, nUnit</p>
                        <p>Clean Code, TU, TDD, BDD (occationnellement), scrum</p>
                        <p>Mise en place ALM : VSTS, Intégration continue, Release Management, Octopus Deploy</p>
                        <p>Mise en place d'une architecture "Micro Services" basée sur Azure PASS
                            <br />Services utilisés : WebApp, Application Insights, Azure Functions, SQL Azure, Cosmos DB, Service Bus, Blog Storage, Redis, Traffic Manager, Log Analytics, Azure AD, Key Vaults, ELK
                        </p>
                        <p>Analyse d'impact/coût/faisabilité puis Migration du SI éxistant sur Azure (IASS)
                            <br />12 VM Windows / Linux
                            <br />Composants : Active Directory, IIS, Cluster SQL Server, nginx, reverse proxy, Load Balancer
                        </p>
                        <p>Mise en place d'une authentification OAuth2 basée sur Azure Active Directory + Key vaults pour sécuriser les communications entre applications</p>
                        <p>Participation aux recrutements de l'IT</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Responsable d'un centre de développement Informatique</h3>
                            <div class="time">Sept 2011 - Sept 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">GoVoyages - Odigeo</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Management de 5 équipes de développement (26 personnes).</p>
                        <p>Mise en place du cycle de développement basé sur les méthodes agiles.</p>
                        <p>Conception/Mise en place d'une architecture Web redondante et sécurisée sur plusieurs DataCenter (GTM/LTM).</p>
                        <p>Migration du site de GoVoyages sur la plateforme développée avec Microsoft.NET.</p>
                        <p>Gestion/Supervision des applications et infrastructures Web (55 serveurs Microsoft + 5 F5).</p>
                        <p>DBA SQL 2005/2008 : Supervision / Optimisation des bases de données (12 serveurs).</p>
                        <p>Analyse & Optimisation des performances de l’application web (Revue de code, Profiling .NET, Débogage, Logs IIS, Analyse dump mémoire, Tests de montée en charge).</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Développeur .NET sénior / Chef de projet</h3>
                            <div class="time">Juin 2009 - Sept 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">GoVoyages</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Rédaction des spécifications du nouveau site eCommerce / Multi-partenaire + CMS de GoVoyages.</p>
                        <p>Développement du nouveau site eCommerce / Multi-partenaire + CMS de GoVoyages (ASP.NET - C# – SQL Server 2008).</p>
                        <p>Création d'une API XML (forte volumétrie + haute dispo) basée sur une base de cache SQL Serveur (ASP.NET – C# – SQL Server 2008).</p>
                        <p>Etude / Mise en place d’une architecture optimisée et sécurisée (DMZ, Filtrage IP, Rupture de protocole).</p>
                        <p>Mise en place de l'intégration continue sous TFS 2008.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->