<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Languages</h3>
                        <p>C#, HTML, Javascript, T-SQL, Powershell</p>
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Technologies</h3>
                        <p>Asp.Net MVC / WebApi, .Net Core, Asp.Net Core ,WCF, Entity Framework, Framework 4.6.1, .Net core 2, Tests (nUnit, xUnit, Moq), SQL Server, ElasticSearch, VSTS/TFS, Git, Release Management, Octopus Deploy</p>
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Azure</h3>
                        <p>WebApp, SQL Azure, Cosmos DB, VM, Service Bus, Blob Storage, Azure Table, Traffic Manager, Log Analytics, Redis, Azure AD, Key Vaults</p>
                    </div><!--//item-->
                </div>  
            </section><!--//skills-section-->