<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Languages</h3>
                        <p>C#, T-SQL, Powershell, HTML, Javascript</p>
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Technologies</h3>
                        <p>Asp.Net MVC / Res API, Asp.Net Core, Entity Framework, Unit Test, Service Bus, SQL Server, ElasticSearch, Azure DevOps, Git, Release Management, Octopus Deploy</p>
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Azure</h3>
                        <p>App service, Azure Fucntions, Cosmos DB, Application Insights, SQL Azure, Virtual machines, Service Bus, Blob Storage, Azure Table, Traffic Manager, Log Analytics, Redis, Azure AD, Key Vaults</p>
                    </div><!--//item-->
                </div>  
            </section><!--//skills-section-->